* {
    box-sizing: border-box;
}

:root {
    --Primary-color-black-green: #143c3c;
    --Secondary-color-light-green: #e2eddf;
    --Primary-color-black: #152427;
    --Secondary-color-gray: #6a8383;
    --text-color-black-gray: #575d5e;
    --text-color-white: #fff;
    --text-color-light-gray: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: 'Public Sans', sans-serif; */
    font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}

h1 {
    color: var(--Primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
}

h2 {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 123.81%;
}

h3 {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 100%;
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color-white);
    caret-color: var(--text-color-white);
}
/* =========================================Common=============================================== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    min-width: 173px;
    height: 57px;
    padding: 0 16px;
    border-radius: 999px;
    text-align: center;
    border: 1.5px solid var(--Primary-color-black-green);
    background: var(--Primary-color-black-green);
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background: transparent;
    color: var(--Primary-color-black-green);
    transition: 0.4s;
}

.sub-title,
.heading-title {
    position: relative;
}

.sub-title {
    padding-left: 46px;
    font-weight: 500;
    line-height: 162.5%;
}

.sub-title::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 1px;
    content: "";
    display: inline-block;
    background: var(--Primary-color-black);
}

.heading-title::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    transform: translateY(-50%);
    width: 66px;
    height: 2px;
    content: "";
    display: inline-block;
    background: var(--Primary-color-black);
}

.control-btn {
    width: 54px;
    height: 54px;
    border: none;
    border-radius: 50%;
    color: var(--Primary-color-black-green);
    background: var(--Secondary-color-light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.control-btn:nth-child(2) {
    transform: rotate(180deg);
}

.control-btn:hover {
    color: var(--Secondary-color-light-green);
    background: var(--Primary-color-black-green);
    transition: 0.25s;
}

.deco {
    position: absolute;
}

.hero__deco:nth-of-type(1) {
    top: 0;
    left: -154px;
}

.deco-img:nth-child(1) {
    position: absolute;
    top: 1px;
    left: -46px;
}

.hero__deco:nth-of-type(2) {
    transform: rotate(180deg);
    bottom: -77px;
    right: 38px;
}

/* =========================================Header=============================================== */
.header {
    font-family: "Public Sans", sans-serif;
    background: #fff;
    padding: 28px 0 8px;
}

.header--sticky {
    position: sticky;
    top: -20px;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.header-right {
    display: flex;
    align-items: center;
}

.navbar {
    margin-right: 69px;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    position: relative;
    padding: 8px 19px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.navbar__item:hover,
.navbar__item--active {
    color: var(--Primary-color-black);
}

.navbar__item--active::before {
    position: absolute;
    bottom: -18px;
    left: 19px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green);
}

/* =========================================Hero=============================================== */
.hero {
    font-family: "Public Sans", sans-serif;
    height: calc(100vh - 93px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__inner {
    margin-top: -93px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 35%;
    margin-right: 76px;
}

.hero__heading {
    width: 368px;
}

.hero__desc {
    margin: 20px 0 42px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.hero__cta-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    gap: 7px;
    cursor: pointer;
}

/* .watch-video__icon-border {
    min-width: 60px;
    height: 60px;
    border: 4px solid var(--Primary-color-black);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.watch-video:hover .watch-video__icon-border {
    transform: rotate(315deg);
} */

.watch-video__icon {
    position: relative;
    min-width: 44px;
    height: 44px;
    background: #83a17d;
    color: #fef6fb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-video__icon::before {
    position: absolute;
    top: -7px;
    left: -7px;
    content: "";
    min-width: 50px;
    height: 50px;
    border: 4px solid var(--Primary-color-black);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.watch-video:hover .watch-video__icon::before {
    transform: rotate(315deg);
}

.watch-video:hover .watch-video__icon {
    opacity: 0.9;
}

.watch-video__desc {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.watch-video:hover .watch-video__desc {
    opacity: 0.9;
}

.hero__media {
    margin-right: 23px;
    position: relative;
    width: 57%;
}

.hero__image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 154px;
}

/* =========================================Brand=============================================== */
.brand {
    padding: 42px 0;
}

.brand__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    border-radius: 100.5px;
    background: var(--Secondary-color-light-green);
}

.brand__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.brand__item:nth-child(1) .brand__logo-img {
    margin-top: 8px;
}

.brand__logo-text {
    color: var(--Primary-color-black-green);
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

/* =========================================Services=============================================== */
.services {
    padding: 64px 0;
}

.services__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__heading {
    margin-top: 12px;
    width: 520px;
}

.services__action {
    display: flex;
    align-items: center;
    margin-right: 76px;
    gap: 17px;
}

.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}
.services__item {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}
.services__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__item-thumb {
    width: 370px;
    height: 318px;
    overflow: hidden;
}

.services__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.services__item:hover .services__item-img {
    transform: scale(1.1);
    transition: 0.8s;
}
.services__item-content {
    padding: 24px 0;
}

.services__item:hover .services__item-content {
    padding-left: 18px;
    transition: 0.8s;
}

.services__item__desc {
    width: 268px;
    margin-top: 18px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 171.429%;
}

/* =========================================About=============================================== */
.about {
    margin-top: 45px;
    padding: 40px 0;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__media {
    position: relative;
    width: 52%;
    display: flex;
}

.about__media-image {
    display: flex;
    gap: 21px;
}

.about__media-img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.about__media-img:nth-child(1) {
    margin-top: 77px;
}

.about__deco {
    left: 46px;
    transform: rotate(10deg);
}

.about__progress {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    bottom: 8px;
    right: -9px;
    width: 143px;
    padding: 19px 23px 11px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    display: flex;
    flex-direction: column;
}

.about__progress-title {
    color: var(--Primary-color-black);
    font-size: 1.36rem;
    font-weight: 600;
    line-height: 100%;
}

.about__progress-desc {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
}

.about__progress-text {
    display: block;
    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
}

.about__progress > .about__progress-text:nth-of-type(1) {
    margin-top: 10px;
}

.about__progress__bar {
    margin: 3px 0;
    width: 100%;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about__progress__bar-inner {
    width: 40%;
    height: 100%;
    background: #83a17d;
}

.about__progress > .about__progress-text:nth-of-type(2) {
    margin-left: auto;
}

.about__progress-cricle-bg {
    margin-left: 2px;
    width: 11px;
    height: 11px;
    background: #eaeaea;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__progress-cricle {
    width: 5px;
    height: 5px;
    background: var(--Primary-color-black-green);
    border-radius: 50%;
}

.about__progress-info-teams {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__progress-avatars {
    display: flex;
    align-items: center;
}

.about__progress-avatars__item {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.about__progress-avatars__item + .about__progress-avatars__item {
    margin-left: -6px;
}

.about__content {
    padding-left: 64px;
}

.about__heading {
    margin-top: 12px;
}

.about__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-weight: 500;
    line-height: 162.5%;
}

.about__row {
    position: relative;
    margin-top: 17px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

.about__row > .about__desc {
    margin-top: 0;
}

.about__text-percent {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 123.81%;
}

.about__row::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 485px;
    height: 1px;
    background: #83a17d;
}

/* =========================================Process=============================================== */
.process {
    padding: 80px 0;
}

.process__heading {
    margin-top: 12px;
    width: 477px;
}

.process__heading::after {
    right: -9px;
}

.process__step {
    margin-top: 81px;
}

.process__step-item {
    position: relative;
    height: 175px;
    padding-left: 20px;
    border-radius: 33px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process__step-item + .process__step-item::after {
    position: absolute;
    bottom: 5px;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process__step-item:nth-child(1) {
    height: 185px;
    padding-left: 30px;
    background: var(--Secondary-color-light-green);
}

.process__step-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process__index {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 64px;
}

.process__desc {
    width: 50%;
    color: var(--text-color-light-gray);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.process__index-number {
    color: var(--Primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 72.222%;
}

.process__step-item-desc {
    color: var(--text-color-light-gray);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.process__img-block {
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process__img {
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process__img-block-blur {
    position: absolute;
    left: 55px;
    bottom: 50px;
    width: 163px;
    height: 24px;
    background: #e2eddf;
    filter: blur(2px);
}

.process__step-more {
    margin-top: 7px;
    margin-left: 157px;
    color: var(--text-color-black-gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.process__step-more:hover {
    color: var(--text-color-light-gray);
}

/* =========================================Process=============================================== */
.projects {
    margin-top: 68px;
    padding: 116px 0 63px;
    background: var(--Primary-color-black-green);
}

.projects__inner {
    position: relative;
}

.projects__top {
    display: flex;
    justify-content: space-between;
}

.projects__heading {
    color: #e7f9f9;
    width: 457px;
}

.projects__heading::after {
    background: var(--Secondary-color-light-green);
    bottom: 38px;
}

.projects__top-right {
    padding-top: 11px;
    padding-left: 11px;
    width: 51%;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.projects__desc {
    color: var(--Secondary-color-gray);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.watch-projects {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.watch-projects__text {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
    cursor: pointer;
}

.watch-projects__btn {
    width: 40px;
    height: 40px;
    color: #80a07b;
    background: transparent;
}

.watch-projects__btn:hover {
    color: var(--Primary-color-black-green);
    background: #e7f9f9;
}

.projects__video-block {
    position: relative;
    margin-top: 65px;
    height: 544px;
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__video-poster {
    width: 100%;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    color: #fff;
    background: rgba(26, 26, 26, 0.8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn:hover {
    background: rgba(26, 26, 26, 1);
}

.projects__deco {
    transform: scaleY(-1) rotate(100deg);
    top: 9%;
    right: -12%;
}

.projects__deco .deco-img:nth-child(1) {
    position: absolute;
    top: -30px;
    left: 306px;
}

/* =========================================Features=============================================== */
.features {
    margin-top: 70px;
    padding: 70px 0;
}

.features__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features__heading {
    width: 520px;
}

.features__desc {
    width: 547px;
    margin-top: 20px;
    color: var(--text-color-light-gray);
    font-weight: 500;
    line-height: 162.5%;
}

.features__group {
    margin-top: 44px;
    padding-top: 59px;
    display: flex;
    align-items: center;
    gap: 45px;
}

.features__item {
    display: flex;
    padding: 60px 45px;
    width: 350px;
    height: 362px;
    flex-direction: column;
    align-items: center;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    text-align: center;
    background: #fff;
}

.features__item:nth-child(2) {
    margin-top: -118px;
}

.features__item:hover {
    border-color: transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.features__item-heading {
    margin-top: 23px;
}

.features__item-desc {
    margin-top: 12px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 171.429%;
}

/* =========================================Features=============================================== */
.blog {
    margin-top: 44px;
    padding: 70px 0;
}

.blog-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.blog__heading {
    width: 520px;
}

.blog__heading::after {
    right: -50px;
    width: 82px;
    height: 3px;
}

.blog__desc {
    width: 409px;
    padding-top: 29px;
    color: var(--text-color-light-gray);
    font-weight: 500;
    line-height: 162.5%;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog__item {
    width: 360px;
    height: 521px;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}

.blog__item:hover {
    border-radius: 40px 40px 20px 20px;
    background: var(--text-color-white);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__item-img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    cursor: pointer;
}

.blog__item-content {
    position: relative;
    padding: 26px 20px 12px 0;
}

.blog__item:hover .blog__item-content {
    padding: 26px 30px 12px 30px;
    transition: 0.25s;
}

.blog-btn {
    display: inline-block;
    padding: 7px 0;
    min-width: 107px;
    height: 120%;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    background: var(--Secondary-color-light-green);
    border-color: transparent;
}

.blog__item:hover .blog-btn {
    color: var(--Secondary-color-light-green);
    background: var(--Primary-color-black-green);
}

.blog__item-title {
    height: 95px;
    margin-top: 13px;
    font-size: 1.8rem;
    line-height: 166.667%;
    border-bottom: 1px solid #c4c4c4;
}

.blog__item-date {
    margin-top: 20px;
    color: var(--text-color-black-gray, #575d5e);
    text-align: end;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

/* =========================================Footer=============================================== */
.footer {
    margin-top: 32px;
    padding: 72px 0 50px;
    background: var(--Primary-color-black-green);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid
        linear-gradient(
            90deg,
            #143c3c 2.28%,
            #295a5a 55.65%,
            rgba(38, 82, 82, 0) 102.06%
        );
}

.footer-left {
    width: 40%;
}

.footer__title {
    color: var(--text-color-white);
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form {
    width: 354px;
    height: 79px;
    margin-top: 25px;
    min-width: 354px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--Secondary-color-gray);
}

.footer-form__input {
    height: 60px;
    background: transparent;
    border: none;
    color: var(--Secondary-color-gray);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 100%;
    outline: none;
    border-radius: 5px;
}

.footer-form-btn {
    margin: 15px 0 0 15px;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    color: #c4c4c4;
    background: transparent;
}

.footer-form-btn:hover {
    color: var(--Primary-color-black-green);
    background: #e7f9f9;
}

.footer-social {
    margin-top: 47px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.footer-social-btn {
    width: 52px;
    height: 52px;
    color: #fff;
    border: 1px solid #265252;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-btn:hover {
    background: #a75325;
    border-color: #a75325;
}

.footer-right {
    font-family: Public Sans;
    padding: 22px 19px 0 190px;
    width: 60%;
    display: flex;
    gap: 50px;
}

.footer__heading {
    margin-bottom: 15px;
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}

.footer__link {
    color: var(--Secondary-color-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 225%;
}

.footer-line {
    margin-top: 45px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
